[Unit]
Description=OpenVPN Client — %i
Documentation=https://openvpn.net/
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/sbin/openvpn --config /etc/openvpn/client/%i.conf
Restart=on-failure
RestartSec=5

# Security hardening
CapabilityBoundingSet=CAP_IPC_LOCK CAP_NET_ADMIN CAP_NET_RAW CAP_SETGID CAP_SETUID CAP_SYS_CHROOT CAP_DAC_OVERRIDE
AmbientCapabilities=CAP_IPC_LOCK CAP_NET_ADMIN CAP_NET_RAW CAP_SETGID CAP_SETUID CAP_SYS_CHROOT CAP_DAC_OVERRIDE
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths=/etc/openvpn
ReadOnlyPaths=/etc/resolv.conf

[Install]
WantedBy=multi-user.target
