[Unit]
Description=TeamViewer Remote Control (Client)
Documentation=https://www.teamviewer.com/
Wants=network-online.target
After=network-online.target teamviewerd.service
Requires=teamviewerd.service

[Service]
Type=simple
ExecStart=/usr/bin/teamviewer
Restart=on-failure
RestartSec=5
Environment=DISPLAY=:0
Environment=QT_QPA_PLATFORM=xcb

# Hardware acceleration
Environment=WEBKIT_DISABLE_COMPOSITING_MODE=1

[Install]
WantedBy=graphical-session.target
